.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #131212;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 1.5px) !important;
    border-radius:0; 
  margin-top: 0px;
  
}
@media (min-width: 992px){
    .search-sec{
        position: center;
        top: -114px;
        background: rgba(8, 8, 8, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: rgb(2, 2, 2);
    }
}

.busca-aqui{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-style: unset;
    
}
