.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}
.modal-content{
    background-color: #000000;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 6px #122b0c;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    border-radius: 50%;
}

.form-group input{
    height: 40px;
    font-size: 20px;
    border:0;
    box-shadow: 0px 0px 6px #122b0c;
    border-radius: 5px;
}
button{
    width: 70%;
    margin: 5px 0 25px;
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}

.Profile__logo{
    max-width: 100%;
    
}

